name: CI
on:
  workflow_dispatch:
    inputs:
      DeviceTree_Name:
        description: 'start'
        required: true
        default: 'y'
jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - name: Setup tmate session
      uses: mxschmitt/action-tmate@v1
